rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /escolas/{schoolId} {
      allow read, create, update, delete: if true;
      match /campeonatos/{champId} {
        allow read, create, update, delete: if true;
      }
    }
  }
}